body {
  margin: 0;
  font-family: system-ui;
}

.background {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



p {
  padding: 30px 0px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.main-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 15px;
}

.main-window {
  max-height: 720px;
  /* overflow: hidden; */
  background-color: #fdfbfb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 8px 5px rgb(153, 153, 153);
}

.arrow {
  margin: auto 40px;
}

.arrow .cls-1:hover {
  fill: #979797;
}

svg.left {
  max-width: 100px;
}

svg.right {
  max-width: 200px;
  transform: rotate(180deg);
}

.no-fullscreen{
  transition-duration: 2s;
  z-index: 1;
}

.fullscreen {
  position: relative;
  top: 10vh;
  left: 0vw;
  z-index: 3;
  transition-duration: 2s;
  transform: scale(1.5);

}

.thumbnail {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.thumbnail img.not-selected:hover {
  transform: scale(1.4);
}

.selected {
  border: 8px solid rgb(255, 255, 255);
  transform: scale(1.5);
}

.thumbnail img {
  box-shadow: 10px 5px 5px rgb(46, 46, 46);
}

.pop-info {
  position: absolute;
  background-color:rgb(46, 46, 46);
  display: inline;
  padding: 0px 5px;
  z-index: 4;
}

.pop-info p {
  font-size: 25px;
  display: inline;
  margin: 0;
  padding: 0;
  color:rgb(255, 255, 255);
}

.center-image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  max-height: 100%;
}

.center-image .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background-color: #000000a1;
  z-index: 2;
}

.center-image h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: inline;
  color: rgb(194, 194, 194);
  z-index: 2;
}

.center-image p {
  font-size: 25px;
  margin: 0;
  padding: 0;
  display: inline;
  color: rgb(194, 194, 194);
  z-index: 2;
}

.fullscreen-container {
  box-sizing: border-box;
  margin: 0;
  padding: 20px 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000bb;
  z-index: 2;
}
/* 
.fullscreen-container img {
  position: center;
  transform: scale(1.8);
  transition-duration: 2s;
} */
